main {
  padding: 1rem;
}

/* alerts */

.alerts > ul {
  list-style: none;
  padding: 0;
}

.alert {
  margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}

.alert h3 {
  margin: 0;
  font-size: 1.2em;
}

.alert p {
  margin: 0;
}

.alert svg {
  height: 30px;
  width: 30px;
  margin: 0.25em;
  flex: 0 0 auto;
}

/* visitor styles */

.visitor > details > ul,
.activities > details > ul {
  list-style: none;
  padding: 0.75rem 0 0 0;
  margin: 0;
}

.visitor > details li,
.activities > details li {
  border-bottom: 1px solid var(--bs-grey-3);
  padding: 0.75rem 0;
}

.visitor > details,
.activities > details {
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.75rem;
}

.visitor > details summary,
.activities > details summary {
  font-weight: 700;
  padding: 0.5rem 0;
}

.activities > details li:last-child,
.visitor > details li:last-child {
  border-bottom: none;
}
